<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Shares>
    <Share Name="drops" account="dropstorageprod" key="blah">
      <ReadAccess Accounts="*"></ReadAccess>
    </Share>
  </Shares>
  <Users >
    <User AccountName="Admin" Password="admin"></User>
    <User AccountName="Test" Password="test"></User>
  </Users>
</Settings>